<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Core</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">
<body>
<!-- Header -->
<div id="header">
    <div id="logo">
        <a href="/">
            <img src="/images/logo.png" width="60" height="60">
        </a>
        <p class="d-inline" style="font-weight: bold; font-size: 24px;">Software development</p>
    </div>
</div>
<!-- Body -->
<div class="container-fluid" id="body">
    <h3 style="text-align: center;">Команда проекта</h3>
    <div class="row mx-auto" style="width: 1000px; margin-top: 60px;">
        <div class="col-md-3 team_photo" style="padding: 0 10px 0 10px;">
            <img src="/images/igor_v.jpg">
            <p style="text-align: center; margin-top: 20px; width: 160px;">Игорь Васильев</p>
        </div>
        <div class="col-md-3 team_photo">
            <img src="/images/vasilisa_s.jpg" style="padding: 0 10px 0 10px;">
            <p style="text-align: center; margin-top: 20px; width: 160px;">Василиса Ситникова</p>
        </div>
        <div class="col-md-3 team_photo">
            <img src="/images/roman_s.jpg" style="padding: 0 10px 0 10px;">
            <p style="text-align: center; margin-top: 20px; width: 160px;">Роман Шалымов</p>
        </div>
        <div class="col-md-3 team_photo">
            <img src="/images/igor_s.jpg" style="padding: 0 10px 0 10px;">
            <p style="text-align: center; margin-top: 20px; width: 160px;">Игорь Щипанов</p>
        </div>
    </div>
    <h3 style="text-align: center; margin-top: 40px;">Руководитель проекта</h3>
    <div class=" team_photo mx-auto" style="width: 160px; margin-top: 20px;">
        <img src="/images/gennady_c.jpg" style="padding: 0 10px 0 10px;">
        <p style="text-align: center; margin-top: 20px; width: 160px;">Геннадий Шемякин</p>
    </div>
</div>
</div>
<!-- Footer -->
<div class="container-fluid" id="footer">
    <div class="row mx-auto">
        <div class="col-md-7 offset-md-2">
            <div id="footer_links">
                <a href="/team">Команда</a>
                <a href="/info">Информация о проекте</a>
                <a href="/tech">Технологии</a>
            </div>
        </div>
        <div class="col-md-2 text-md-right">© 2017 Core-inc</div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>