<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Core</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ">
<link rel="stylesheet" href=css/main.css">
<body>
<!-- Header -->
<div id="header">
    <div id="logo">
        <a href="/">
            <img src="images/logo.png" width="60" height="60">
        </a>
        <p class="d-inline" style="font-weight: bold; font-size: 24px;">Software development</p>
    </div>
</div>
<!-- Body -->
    <div class="container-fluid" id="body">
        <div class="row">
            <div class="col-md-1 offset-md-1">
                <img src="images/abs.png" alt="" height="450px">
            </div>
            <div class="col-md-8 offset-md-1">
                <div id="login_form">
                    <form id="form_sign_in" action="" method="POST">
                        <p style="font-size: 20px; font-weight: bold; margin-bottom: 4px;">Лаборатория EPAM</p>
                        <p id="form-subtitle-upload-">Для начала сотрудничества отправьте техническое задание</p>
                        <input class="form-control" placeholder="Введите email" name="email" required>
                        <input class="form-control" placeholder="Введите название проекта" name="inner_name" required>
                        <textarea class="form-control" id="tech-task" placeholder="Введите техническое задание"
                                  name="techTask" required></textarea>
                        <button class="my_button" href="" style="margin-right: 30px;">Отправить</button>
                        Уже есть аккаунт?
                        <a href="/login">Войти</a>

                    </form>
                </div>
            </div>

        </div>
    </div>
<!-- Footer -->
<div class="container-fluid" id="footer">
    <div class="row mx-auto">
        <div class="col-md-7 offset-md-2">
            <div id="footer_links">
                <a href="/team">Команда</a>
                <a href="/info">Информация о проекте</a>
                <a href="/tech">Технологии</a>
            </div>
        </div>
        <div class="col-md-2 text-md-right">© 2017 Core-inc</div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"></script>
</body>
</html>