<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Core</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">
<body>
<!-- Header -->
<div id="header">
    <div id="logo">
        <a href="/">
            <img src="/images/logo.png" width="60" height="60">
        </a>
        <p class="d-inline" style="font-weight: bold; font-size: 24px;">Software development</p>
        <div class="d-inline" style=" float: right; margin-right: 30px;">            <img src="/images/avatar.png" width="60" height="60">            <div class="d-inline">                <div class="dropdown d-inline">                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:transparent; color: white; border: 0;">                        Vasilisa Sitnikova                    </button>                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                        <a class="dropdown-item" href="/logout">Выйти</a>                    </div>                </div>            </div>        </div>
    </div>

</div>
<!-- Body -->
<div class="container-fluid" id="body" style="padding-top: 60px;">
    <div class="row" style="padding: 0 60px 0 60px;">
        <div class="col-md-2" id="menu">
            <h5 style="margin-bottom: 4px;">Меню</h5>
            <div class="divider"></div>
            <ul id="links">
            </ul>
        </div>
        <div class="col-md-9 offset-md-1" id="workflow">
            <h5>Добавить новую задачу</h5>
            <form id="form_add_dev" action="" method="POST">
                <p id="form-subtitle-upload-">После добавления всех задач будет рассчитана стоимость проекта</p>
                <input class="form-control" placeholder="Введите задачу" name="taskName" required style="width: 500px;">
                <select class="form-control" id="customer_emails" name="customerId"></select>
                <div class="scroll-div">
                    <table class="table table-hover" id="devs">
                        <thead>
                        <tr>
                            <th><p>Id</p></th>
                            <th><p>Разработчик</p></th>
                            <th><p>Квалицикация</p></th>
                            <th><p align="center">Задействовать</p></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <input class="form-control" placeholder="Введите стоимость (в рублях)" name="cost" type="number" required style="width: 360px;">
                <button class="my_button" type="submit">Добавить задачу</button>
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="container-fluid" id="footer">
    <div class="row mx-auto">
        <div class="col-md-7 offset-mdl-2">
            <div id="footer_links">
                <a href="/team">Команда</a>
                <a href="/info">Информация о проекте</a>
                <a href="/tech">Технологии</a>
            </div>
        </div>
        <div class="col-md-2 text-md-right">© 2017 Core-inc</div>
    </div>

</div>

<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

<script>
    $("#form_add_dev").submit(function (e) {
        e.preventDefault();

        var data = {};
        var devIds = [];

        //Gathering the Data
        //and removing undefined keys(buttons)
        $.each(this.elements, function(i, v){
            var input = $(v);
            data[input.attr("name")] = input.val();
            delete data["undefined"];
        });

        $(":checkbox").toArray().forEach(function (item) {
            devIds.push(item["value"]);
        });

        var task = {};
        var customer = {};
        var developers = {};

        task["name"] = data["taskName"];
        task["cost"] = data["cost"];
        task["duration"] = 50;
        task["status"] = "0";
        task["createdAt"] = null;
        task["updatedAt"] = null;
        task["projectId"] = projectId;

        $.ajax({
            url: "/users/" + data["customerId"],
            method: "GET",
            dataType: "json",
            async: false,
            success: function (customerjson) {
                customer = customerjson;
            }
        });

        var taskId = 0;

        $.ajax({
            url: "/tasks/",
            method: "POST",
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            async: false,
            data: JSON.stringify(task),
            success: function (result) {
                taskId = result["id"];
            }
        });

        $.ajax({
            url: "/users/customers/" + customer["id"] + "/" + projectId,
            method: "POST",
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            async: false
//            data: JSON.stringify({"customerId": customer["id"], "projectid": projectId})
        });

        devIds.forEach(function (item) {
            $.ajax({
                url: "/tasks/" + taskId + "/developer/" + item,
                method: "POST",
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                async: false,
                data: JSON.stringify(task)
            })
        });
    });

    $(document).ready(function () {

        var links = $("#links");
        var url = document.URL;
        var urlPart = url.replace("http://localhost:8080/manager/cabinet/project/", "");
        var reg = /(\d+)/;
        var match = reg.exec(urlPart);
        var projectId = match[0];

        links.append('<li><a href="/manager/cabinet/project/' + projectId + '">Информация о проекте</a></li>')
            .append('<li><a href="/manager/cabinet/project/' + projectId + '/tech_task">Техническое задание</a></li>')
            .append('<li><a href="/manager/cabinet/project/' + projectId + '/add_task">Добавить задачу</a></li>')
            .append('<li><a href="/manager/cabinet/project/' + projectId + '/status">Статус проекта</a></li>');

        $.ajax({
            url: "/users/customers",
            method: "GET",
            dataType: "json",
            success: function (customers) {
                customers.forEach(function (item, i, arr) {
                    $('#customer_emails').append($('<option>', {
                        value: item["id"],
                        text: item["email"]
                    }));
                })
            }
        });

        $.ajax({
            url: "/developers",
            dataType: "json",
            method: "GET",
            async: false,
            success: function (result) {
                var table = $("#devs").find("tbody");
                result.forEach(function (item, i, arr) {
                    var skill = null;
                    var status = null;

                    $.ajax({
                        url: "/skills/developer/" + item["id"],
                        dataType: "json",
                        method: "GET",
                        async: false,
                        success: function (skilljson) {
                            skill = skilljson;
                        },
                        error: function () {
                            console.log("error");
                            skill = {};
                        }
                    });

                    $.ajax({
                        url: "/developers/" + item["id"] + "/status",
                        dataType: "json",
                        method: "GET",
                        async: false,
                        success: function (statusjson) {
                            if (statusjson) {
                                status = "busy";
                            } else {
                                status = "free";
                            }
                        },
                        error: function () {
                            status = "error";
                        }
                    });

                    if (status == "free") {
                        var row = '<tr>' +
                            '<td>' + item["id"] + '</td>' +
                            '<td>' + item["name"] + '</td>' +
                            '<td>' + skill["name"] + '</td>' +
                            '<td align="center"><input type="checkbox" value="' + item["id"] + '"></td>' +
                            '</tr>';
                        table.append(row);
                    }
                });
            }
        })
    })
</script>

</body>
</html>