<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Core</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">
<body>
<!-- Header -->
<div id="header">
    <div id="logo">
        <a href="/">
            <img src="/images/logo.png" width="60" height="60">
        </a>
        <p class="d-inline" style="font-weight: bold; font-size: 24px;">Software development</p>

        <div class="d-inline" style=" float: right; margin-right: 30px;">
            <img src="/images/avatar.png" width="60" height="60">
            <div class="d-inline">
                <div class="dropdown d-inline">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:transparent; color: white; border: 0;">
                        Vasilisa Sitnikova
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/logout">Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Body -->
<div class="container-fluid" id="body" style="padding-top: 60px;">
    <div class="row" style="padding: 0 60px 0 60px;">
        <div class="col-md-2" id="menu">
            <h5 style="margin-bottom: 4px;">Меню</h5>
            <div class="divider"></div>
            <ul>
                <li><a href="/manager/cabinet">Обзор проектов</a></li>
                <li><a href="/manager/cabinet/add_project">Добавить проект</a></li>
                <li><a href="/manager/cabinet/developers">База разработчиков</a></li>
                <li><a href="/manager/cabinet/add_dev">Добавить разработчика</a></li>
            </ul>
        </div>
        <div class="col-md-8 offset-md-1" id="workflow">
            <h5>Добавить нового разработчика</h5>
            <form id="form_add_dev" action="" method="POST">
                <p id="form-subtitle-upload-">На указанный email придет письмо для продолжения регистрации</p>
                <input class="form-control" placeholder="Введите имя" name="name" required>
                <input class="form-control" type="password" placeholder="Введите пароль" name="password" required>
                <input class="form-control" type="email" placeholder="Введите email" name="email" required>
                <select class="form-control" id="skills" name="skill" required></select>
                <button class="my_button" type="submit">Отправить письмо</button>
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="container-fluid" id="footer">
    <div class="row mx-auto">
        <div class="col-md-7 offset-md-2">
            <div id="footer_links">
                <a href="/team">Команда</a>
                <a href="/info">Информация о проекте</a>
                <a href="/tech">Технологии</a>
            </div>
        </div>
        <div class="col-md-2 text-md-right">© 2017 Core-inc</div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script>
    $("#form_add_dev").submit(function (e) {
        e.preventDefault();

        var data = {};

        //Gathering the Data
        //and removing undefined keys(buttons)
        $.each(this.elements, function(i, v){
            var input = $(v);
            data[input.attr("name")] = input.val();
            delete data["undefined"];
        });

        console.log(data);

        var project = {};
        project["externalName"] = data["externalName"];
        project["internalName"] = data["internalName"];
        project["specLink"] = data["specLink"];
        project["status"] = "0";
        project["createdAt"] = null;
        project["updatedAt"] = null;
        var customer = data["customer_email"];
    });

    $(document).ready(function () {
        $.ajax({
            url: "/skills",
            method: "GET",
            dataType: "json",
            success: function (skills) {
                skills.forEach(function (item, i, arr) {
                    $('#skills').append($('<option>', {
                        value: item["id"],
                        text: item["name"]
                    }));
                })
            }
        });
    })
</script>

</body>
</html>