<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Core</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">
<body>
<!-- Header -->
<div id="header">
    <div id="logo">
        <a href="/">
            <img src="/images/logo.png" width="60" height="60">
        </a>
        <p class="d-inline" style="font-weight: bold; font-size: 24px;">Software development</p>
        <div class="d-inline" style=" float: right; margin-right: 30px;">
            <img src="/images/avatar.png" width="60" height="60" alt="">
            <p class="d-inline" style="font-weight: bold; font-size: 18px;">Roman Shalymov</p>
        </div>
    </div>

</div>
<!-- Body -->
<div class="container-fluid" id="body" style="padding-top: 60px;">
    <div class="row" style="padding: 0 60px 0 60px;">
        <div class="col-md-2" id="menu">
        <h5 style="margin-bottom: 4px;">Меню</h5>
            <div class="divider"></div>
            <ul>
                <li><a href="/cabinet/manager">Обзор проектов</a></li>
                <li><a href="/cabinet/manager/add_project">Добавить проект</a></li>
                <li><a href="/cabinet/manager/developers">База разработчиков</a></li>
                <li><a href="/cabinet/manager/add_dev">Добавить разработчика</a></li>
            </ul>
        </div>
        <div class="col-md-8 offset-md-1" id="workflow">
            <h5>Добавить проект</h5>
            <form id="form_add_project" method="POST">
                <p id="form-subtitle-upload-">Проект будет связан с заказчиком по введенному email<br>
                и появится в вашем личном кабинете</p>
                <input class="form-control" placeholder="Введите название проекта" name="externalName" required>
                <input class="form-control" placeholder="Введите идентификатор" name="internalName" required>
                <input class="form-control" placeholder="Укажите ссылку" name="specLink" required>
                <select class="form-control" id="customer_emails" name="customer_email"></select>
                <button class="my_button" type="submit">Добавить проект</button>
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="container-fluid" id="footer">
    <div class="row mx-auto">
        <div class="col-md-7 offset-md-2">
            <div id="footer_links">
                <a href="/team">Команда</a>
                <a href="/info">Информация о проекте</a>
                <a href="/tech">Технологии</a>
            </div>
        </div>
        <div class="col-md-2 text-md-right">© 2017 Core-inc</div>
    </div>

</div>

<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        var emails;

        $.ajax({
            url: "/users/customers",
            method: "GET",
            dataType: "json",
            success: function (customers) {
                customers.forEach(function (item, i, arr) {
                    $('#customer_emails').append($('<option>', {
                        value: item["id"],
                        text: item["email"]
                    }));
                })
            }
        });
    });

    $("#form_add_project").submit(function (e) {
        e.preventDefault();

        var data = {};
        var Form = this;

        //Gathering the Data
        //and removing undefined keys(buttons)
        $.each(this.elements, function(i, v){
            var input = $(v);
            data[input.attr("name")] = input.val();
            delete data["undefined"];
        });

        var project = {};
        project["externalName"] = data["externalName"];
        project["internalName"] = data["internalName"];
        project["specLink"] = data["specLink"];
        project["status"] = "0";
        project["createdAt"] = null;
        project["updatedAt"] = null;
        var customer = data["customer_email"];

        console.log("customer id, attach it to the project somehow: " + customer);

        $.ajax({
            url: "http://localhost:8080/projects",
            method: "POST",
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify(project),
            success: function () {
                alert("data was send")
            }
        })
    })
</script>

</body>
</html>