<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Core</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">
<body>
<!-- Header -->
<div id="header">
    <div id="logo">
        <a href="/">
            <img src="/images/logo.png" width="60" height="60">
        </a>
        <p class="d-inline" style="font-weight: bold; font-size: 24px;">Software development</p>
        <div class="d-inline" style=" float: right; margin-right: 30px;">
            <img src="/images/avatar.png" width="60" height="60">
            <p class="d-inline" style="font-weight: bold; font-size: 18px;">Roman Shalymov</p>
        </div>
    </div>

</div>
<!-- Body -->
<div class="container-fluid" id="body" style="padding-top: 60px;">
    <div class="row" style="padding: 0 60px 0 60px;">
        <div class="col-md-2" id="menu">
        <h5 style="margin-bottom: 4px;">Меню</h5>
            <div class="divider"></div>
            <ul>
                <li><a href="/manager/cabinet">Обзор проектов</a></li>
                <li><a href="/manager/cabinet/add_project">Добавить проект</a></li>
                <li><a href="/manager/cabinet/developers">База разработчиков</a></li>
                <li><a href="/manager/cabinet/add_dev">Добавить разработчика</a></li>
            </ul>
        </div>
        <div class="col-md-8 offset-md-1" id="workflow">
            <h5>База разработчиков</h5>
            <div class="scroll-div">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Имя</th>
                        <th>Email</th>
                        <th>Квалификация</th>
                        <th>Статус</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="container-fluid" id="footer">
    <div class="row mx-auto">
        <div class="col-md-7 offset-md-2">
            <div id="footer_links">
                <a href="/team">Команда</a>
                <a href="/info">Информация о проекте</a>
                <a href="/tech">Технологии</a>
            </div>
        </div>
        <div class="col-md-2 text-md-right">© 2017 Core-inc</div>
    </div>

</div>

<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        $.ajax({
            url: "/developers",
            dataType: "json",
            method: "GET",
            async: false,
            success: function (result) {
                var table = $("#workflow").find("tbody");
                result.forEach(function (item, i, arr) {
                    var skill = null;
                    var status = null;

                    $.ajax({
                        url: "/skills/developer/" + item["id"],
                        dataType: "json",
                        method: "GET",
                        async: false,
                        success: function (skilljson) {
                            skill = skilljson;
                        },
                        error: function () {
                            console.log("error");
                            skill = {};
                        }
                    });

                    $.ajax({
                        url: "/developers/" + item["id"] + "/status",
                        dataType: "json",
                        method: "GET",
                        async: false,
                        success: function (statusjson) {
                            if (statusjson) {
                                status = "busy";
                            } else {
                                status = "free";
                            }
                        },
                        error: function () {
                            status = "error";
                        }
                    });

                    var row = '<tr>' +
                        '<td>' + item["id"] + '</td>' +
                        '<td>' + item["name"] + '</td>' +
                        '<td>' + item["email"] + '</td>' +
                        '<td>' + skill["name"] + '</td>' +
                        '<td>' + status + '</td>' +
                        '</tr>';
                    table.append(row);
                });
            }
        })
    })
</script>
</body>
</html>